body {
  direction: rtl;
}

.under-line {
  text-decoration: underline;
}

.sec-1 {
  height: 100%;
  width: 100vw;
  background: url("moneyBg1.jpg") center;
}

@media screen and (max-width: 992px) {
  .sec-1 {
    width: 95vw;
  }
}

.sec-1 .hero-title {
  padding: 30px;
  text-align: center;
  color: white;
  text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.sec-1 .hero-subtitle {
  text-align: center;
  color: white;
  text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.sec-1 .hero-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .sec-1 .hero-mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.sec-1 .hero-mid .hero-img {
  margin: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 10px -10px 15px 1px #000000;
          box-shadow: 10px -10px 15px 1px #000000;
}

@media screen and (max-width: 992px) {
  .sec-1 .hero-mid .hero-img {
    max-width: 80vw;
  }
}

.sec-1 .hero-mid .description {
  font-size: 1.5rem;
  direction: rtl;
  background-color: #43c1fc;
  opacity: 0.8;
  border-radius: 20px;
  padding: 50px;
  margin-right: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-1 .hero-mid .description .description-title {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.sec-1 .hero-mid .description .description-footer {
  text-align: right;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sec-1 .hero-mid .description .description-footer span {
  font-weight: bolder;
  font-size: 1.2em;
}

.sec-1 .hero-mid .description .description-footer .birocracy {
  display: inline-block;
  font-size: 0.8em;
}

.sec-1 .hero-mid .description ul li {
  text-align: center;
  background: #FFF2CC;
  border-radius: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-weight: bolder;
}

.sec-1 .hero-mid .description ul li img {
  height: 20px;
  width: 20px;
}

.sec-1 .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.sec-1 .stats .content .first {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #FFE599;
  padding: 5px;
  font-size: 1.2em;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sec-1 .stats .content .second {
  width: auto;
  background: #FFE599;
  /* margin-top: 20px; */
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.2em;
}

.sec-1 .spam {
  color: black;
  text-align: center;
  font-size: 0.9rem;
}

.form-wrapper .form-control-lg, .form-wrapper .btn-lg {
  border-radius: .9rem;
}

.form-cell {
  padding: 10px;
}

form {
  background: lightblue;
}

form .form-fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .form-fotter .form-fotter-content {
  margin-right: 50px;
  padding-right: 30px;
  margin-left: 50px;
  padding-left: 30px;
  background: #999999;
  color: #FFD966;
  padding: 5;
  border-radius: 30px;
  text-align: center;
  font-size: 1.3rem;
}

form .form-fotter .form-fotter-content span {
  text-decoration: underline;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */